/* Estilos generales */
/* Mobile First - max-width=320px */

/* *** header *** */
header{
    width: 100%;
    height: 4vh;
}
.header-contenedor {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}

.div-header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5vh 1vw;
}

/* *** logo *** */
#logo-img {
    background-image: url(../img/broncomuebles-logo.png);
    width: 120px;
    height: 70px;
    
}

/* *** menu top *** */
#hamburguesa {
    display: block;
    cursor: pointer;
}

.ul-menu-top,
.nav-menu-principal,
.form-buscar{
    display: none;
}

/* *** Formulario de búsqueda *** */
/* ** Icono  de búsqueda ** */
#icono-busqueda {
    cursor: pointer;
}
/* ** formulario ** */
.form-buscar {
    width: 95vw;
    margin: 0 auto;
    padding: 1vh 2vw;
    background-color: rgb(200, 200, 200);
    border-radius: 5vw;
    border-width: 3px;
    border-color:rgb(125, 125, 125);
}
input[type=text]{
    border-radius: 3vw;
    background-color: rgba(190, 57, 57, 0.5);
    width: 90%;
}


/* *** clases activadoras / mostradoras *** */
.menu-top-activo {
    display: block;
    position: absolute;
    top: 11vh;
    left: 2vw;
}

.menu-principal-activo {
    display: block;
    position: absolute;
    /* top: 11vh;
    left: 30vw; */
    top: 20vh;
    margin: 0 auto;
}

.form-buscar-activo {
    display: flex;
    position: absolute;
    top: 7vh;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

}
/* *** */


/* ***** Media Queries ***** */
/* Hasta 575px */
@media screen  and (min-width: 575px) {
    #icono-busqueda{
        display: none;
    }
    #form-busqueda{
        display: block;
        width: 95%;
    }
    /* Logo, formulario de búsqueda y login visibles */

}

/* Hasta 1024px (pantallas medianas) */
@media (min-width: 769px) and (max-width: 1024px) {

    .div-menu-top-contenedor {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ul-menu-top, .ul-login, .div-carrito {
        display: flex;
        align-items: center;
    }
}

/* Desde 1025px en adelante (desktop) */
@media (min-width: 1025px) {
    .div-menu-top-contenedor, .div-header-base {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


