/* Estilos generales */
/* Mobile First - max-width=320px */

/* *** header *** */
header{
    width: var(--headerAncho);
    height: var(--headerAlto);
}
.header-contenedor {
    display: flex;
    flex-direction: column;
    background-color: var(--color-2);
}

.div-header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5vh 1vw;
    flex-direction: row;
    flex-wrap: wrap;
}

.ul-menu-top,
.nav-menu-principal,
.form-buscar,
.ul-menu-login {
    display: none;
}

/* *** Icono menú hamburguesa *** */
div.div-hamburguesa{
    font-size: var(--fontSize1);
    color: var(--color-3);
}

/* *** LOGO *** */
#logo-img {
    background-image: url(../img/broncomuebles-logo.png);
    width: var(--logoAncho);
    max-width: var(--logoAnchoMax);
    height: var(--logoAlto);
    max-height: var(--logoAltoMax);
}

/* ***** MENU TOP ***** */
#hamburguesa {
    display: block;
    cursor: pointer;
}

.ul-menu-top {
    width: 25vw;
    background-color: var(--color-4);
    margin: auto;
    text-align: center;
    line-height: var(--Interlineado1);
}


/* *** Formulario de búsqueda *** */
/* ** Icono  de búsqueda ** */
#icono-busqueda,
#icono-login {
    cursor: pointer;
    font-size: var(--fontSize1);
    color: var(--color-3);
}
/* ** formulario ** */
.form-buscar {
    width: 95vw;
    margin: 0 auto;
    padding: 1vh 2vw;
    background-color: rgb(200, 200, 200);
    border-radius: 5vw;
    border-width: 3px;
    border-color:rgb(125, 125, 125);
}
input[type=text]{
    border-radius: 3vw;
    background-color: var(--color-2);
    width: 90%;
}

/* *** Menu LOGIN *** */
#icono-login {

}

.div-login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5vh 1vw;
}

.ul-menu-login{
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: var(--Interlineado1);
}

.link-menu-login{
    color: var(--color-4);
    padding: 0.5vh 1vw;
    transition: all 0.3s ease-in-out;
}
.link-menu-login:hover{
    /* font-size: var(--fontSize3); */
    background-color: black;
    color: var(--color-3);
    text-shadow: 1px 1px 2px var(--color-4);
    transition: all 0.3s ease-in;
}

/* *** CARRITO *** */
.div-carrito{
    width: 100%;
    /* background-color: rgba(21, 57, 57, 0.8); */
    margin: auto;
    line-height: 4vh;
    border-radius: 3vw;
}

/* ***** HEADER BASE ***** */
/***************************/

/* ***** MENU PRINCIPAL ***** */
.ul-menu-principal {
    /* display: block; */
    width: 100%;
    background-color: rgba(21, 57, 57, 0.8);
    margin: auto;
    line-height: 4vh;
}
.li-menu-item{
    width: 100%;
}
a.link-menu{
    display: block;
    width: 100%;
    color: cadetblue;
    transition: all 0.3s ease-in-out;
    
}
a.link-menu:hover{
    background-color: black;
    color: var(--color-3);
    text-shadow: 1px 1px 2px var(--color-4);
    font-size: var(--fontSize2);
    transition: all 0.3s ease-in;
}
/*****/

/* *** clases activadoras / mostradoras *** */
.menu-top-activo,
.menu-principal-activo {
    display: block;
    position: absolute;
    width: 100vw;
    left: 0;
    text-align: left;
}
.menu-top-activo{
    background-color: rgba(21, 57, 57, 0.8);
    top: var(--headerAlto);
    transition: all 0.3s ease-in;
    height: var(--menuTopAlto);
}
.menu-principal-activo {
    top: calc(var(--headerAlto) + 12vh);
    transition: all 0.3s ease-in;
}

.form-buscar-activo {
    display: flex;
    position: absolute;
    top: 8vh;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

}
/* *** */


/* ********************************************* */
/* *************** Media Queries *************** */
/* ********************************************* */
/* Hasta 575px */
@media (min-width: 575px) {
    #icono-busqueda{
        display: none;
    }
    #form-busqueda{
        display: block;
        width: 48%;
        margin: 0;
    }

    /* Logo, formulario de búsqueda y login visibles */

}

/* Pantallas mayores a 768px */
@media (min-width: 769px) {
    #form-busqueda{
        display: flex;
        width: 43%;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    }
    #icono-login {
        display: none;
    }
    .ul-menu-login, 
    .div-carrito{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

/* Desde 1025px en adelante (desktop) */
@media (min-width: 1025px) {
    #hamburguesa{
        display: none;
    }

    .ul-menu-top{
        display: flex;
    }
    #form-busqueda{
        width: 30vw;
    }
    .nav-menu-principal{
        display: flex;
    }
    .ul-menu-principal{ 
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        text-align: center;
        width: 100%;
    }
}


